- my_meta :title => "POGS Galaxy Requests",
    :description => "Manage your POGS galaxy Requests"
-content_for(:title_bar) do
  #intro-sml-wrap
    %h1.fontface= "Your Current HDF5 Requests for request_#{@request.id}"
  -@user_page =  'science'
  =render 'layouts/user_nav'

-content_for(:content) do
  #content-wrap
    .well.well-white
      %h2
        = link_to "All Galaxies", galaxies_path
        \/
        = link_to "All Requests", hdf5_requests_path

      %dl.dl-horizontal
        %dt Request ID
        %dd= @request.id
        %dt Sent to
        %dd= @request.email
        %dt State
        %dd= @request.current_state
        %dt Features
        - @request.features.each do |feature|
          %dd
            %abbr{:title => feature.argument_name}= feature.description
        %dt Layers
        - @request.layers.each do |layer|
          %dd
            %abbr{:title => layer.argument_name}= layer.description
        %dt Updated At
        %dd= @request.updated_at
        %dt Created At
        %dd= @request.created_at

      %h3 Galaxies
      %table.table.table-striped
        %thead
          %tr
            %th Galaxy
            %th ID
            %th State
            %th link
        %tbody
          - @galaxy_requests.each do |galaxy_request|
            - galaxy = galaxy_request.galaxy
            %tr
              %td
                = link_to galaxy do
                  = galaxy.name
                  = image_tag galaxy.thumbnail_url
              %td= link_to galaxy.id, galaxy
              %td= link_to galaxy_request.current_state, galaxy
              %td
                - if galaxy_request.link_valid?
                  = link_to 'Data File', galaxy_request.link_url


      = paginate @galaxy_requests
      = page_entries_info @galaxy_requests, :entry_name => 'Galaxies'

