%h2= t 'profiles.new_profile_step_2.pogs.not_yet_a_member'
%p= t 'profiles.new_profile_step_2.pogs.enter_your_details'
= form_tag('/profile/update_boinc_id', :method => 'post') do
  = label_tag(:boinc_user, t("profiles.new_profile_step_2.pogs.email"))
  = text_field_tag(:boinc_user)
  %br/
  = label_tag(:boinc_password, t("profiles.new_profile_step_2.pogs.password_pogs"))
  = password_field_tag(:boinc_password)
  %br/
  = submit_tag(t("profiles.new_profile_step_2.pogs.link"))
%br/
%p= t 'profiles.new_profile_step_2.pogs.new'
= form_tag('/profile/create_boinc_id', :method => 'post') do
  = label_tag(:password, t("profiles.new_profile_step_2.pogs.password_tsn"))
  = password_field_tag(:password)
  %br/
  = submit_tag(t("profiles.new_profile_step_2.pogs.create"))