<h2>Edit my profile details</h2>

<%= simple_form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
        <%= f.label :nickname %>, this name will be used in place of your full name. (optional)<br />
        <%= f.text_field :nickname %>
        <%= f.label(:use_full_name, "Display full name on leaderboards.") %>
        <%= f.check_box(:use_full_name) %>
    </div>
  <div class="field">
    <%= f.label :first_name %> (optional)<br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :second_name %> (optional)<br />
    <%= f.text_field :second_name %>
  </div>
  <%= f.input :country, iso_codes: true %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if @profile.general_stats_item.nereus_stats_item %>
    <h2>Edit my Nereus settings</h2>
    <%= form_for(@profile.general_stats_item.nereus_stats_item, :as => 'nereus_stats_item', :url => update_nereus_settings_path, :html => { :method => :put }) do |f| %>
        <div class="field">
            <%= f.label :network_limit_mb %> in MegaBytes<br />
            <%= f.text_field :network_limit_mb %>
        </div>
        <div class="actions">
            <%= f.submit %>
        </div>
    <% end %>
<% end %>