%h2= t 'profiles.new_profile_step_2.source_finder.not_yet_a_member'
%p
  = t 'profiles.new_profile_step_2.source_finder.new'
  =link_to t("profiles.new_profile_step_2.source_finder.create"), new_nereus_path, :class => 'btn btn-tsn'
%p
  = t "profiles.new_profile_step_2.source_finder.enter_your_nereus_id"
  =form_tag(new_nereus_path, :method => 'post') do
    = text_field_tag(:nereus_id)
    %br/
    = submit_tag(t("profiles.new_profile_step_2.source_finder.link"))
