-content_for(:title_bar) do
  #intro-sml-wrap
    %h1.fontface Compare
  -@user_page =  'dashboard'
  =render 'layouts/user_nav'

-content_for(:content) do
  #compare
    #content-wrap
      - top_credit = @profiles.max_by {|p| p.general_stats_item.total_credit.to_i}
      - first_member = @profiles.min_by {|p| p.user.confirmed_at}
      .row-fluid
        -@profiles.each do |profile|
          .span6.well
            = link_to image_tag(profile.avatar_url(128)), profile
            %p

              %b Name:
              = link_to profile.name, profile
            %p
              %b Country:
              = profile.country
            %p{:class => ('top' if profile.id == top_credit.id)}
              %b Total Credit:
              = number_with_delimiter(profile.general_stats_item.total_credit.to_i) + "cr"
              =  link_to "Show in leaderboard" , profiles_path(:rank => profile.general_stats_item.rank, :page=>'me')
            -if profile.alliance
              %p
                %b Proud member of :
                = link_to(profile.alliance.name,profile.alliance)
            %p{:class => ('top' if profile.id == first_member.id)}
              %b Member Since:
              = profile.user.confirmed_at
            %p
              %b Latest Achievement:
              -if profile.trophies.empty?
                = profile.name + " hasn't won any trophies yet."
              -else
                - trophy = profile.trophies.order("profiles_trophies.created_at DESC, trophies.credits DESC").limit(1).first
                = link_to (image_tag trophy.image.url), trophy
                = link_to trophy.title,  trophy
            %p
              = link_to  trophies_profile_path(profile) do
                = profile.name + " has been awarded " + profile.trophies.length.to_s + " trophy".pluralize(profile.trophies.length) + " click here to see them all."

      .row-fluid
        .span12.well
          -boinc_id1= @profiles[0].general_stats_item.boinc_stats_item.boinc_id if @profiles[0].general_stats_item.boinc_stats_item != nil && @profiles[0].general_stats_item.boinc_stats_item.credit > 0
          -boinc_id2= @profiles[1].general_stats_item.boinc_stats_item.boinc_id if @profiles[1].general_stats_item.boinc_stats_item != nil && @profiles[1].general_stats_item.boinc_stats_item.credit > 0
          -nereus_id1= @profiles[0].general_stats_item.nereus_stats_item.nereus_id if @profiles[0].general_stats_item.nereus_stats_item != nil && @profiles[0].general_stats_item.nereus_stats_item.credit > 0
          -nereus_id2= @profiles[1].general_stats_item.nereus_stats_item.nereus_id if @profiles[1].general_stats_item.nereus_stats_item != nil && @profiles[1].general_stats_item.nereus_stats_item.credit > 0
          #chart_container{:data => {:name1 => @profiles[0].name, :boinc_id1=>boinc_id1, :nereus_id1=> nereus_id1, :profile_id1 => @profiles[0].id,
                                     :name2 => @profiles[1].name, :boinc_id2=>boinc_id2, :nereus_id2=> nereus_id2, :profile_id2 => @profiles[1].id}}