<%content_for(:title_bar) do %>
    <div id="intro-sml-wrap">
        <h1 class="fontface">Account Dashboard</h1>
    </div>
    <% @user_page =  'dashboard' %>
    <%=  render 'layouts/user_nav' %>
<% end %>

<%content_for(:content) do %>

    <div id="content-wrap">

        <div class="shadowed">
            <div class="inner-boundary">
                <div id="content-inner">
                    <%= render 'profiles/dashboard/general_dashboard' %>
                </div>
            </div>
        </div>

        <%= render 'profiles/dashboard/alliances_dashboard' %>

        <%= render 'profiles/dashboard/boinc_dashboard' %>

        <%= render 'profiles/dashboard/nereus_dashboard' %>

        <%= render 'profiles/dashboard/ladder_dashboard' %>

        <div id="chart_container" <%=  @profile.general_stats_item.boinc_stats_item ? "data-boinc_id=#{@profile.general_stats_item.boinc_stats_item.boinc_id}" : "" %> <%=   @profile.general_stats_item.nereus_stats_item ? "data-nereus_id=#{@profile.general_stats_item.nereus_stats_item.nereus_id}" : "" %> <%= "data-profile_id=#{@profile.id}" %>> </div>

    </div>
<% end %>