<%content_for(:title_bar) do %>
    <div id="intro-sml-wrap">
        <h1 class="fontface">Leaderboard</h1>
    </div>
    <% @user_page =  'leaderboard' %>
       <%=  render 'layouts/user_nav' %>
<% end %>

<%content_for(:content) do %>
    <div id="content-wrap">
        <div class="shadowed">
            <div class="inner-boundary">
                <div id="content-inner">
                    <table>
                      <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th><%= sortable "rank", "Rank"%></th>
                        <th><%= sortable "credits", "Total Credit" %></th>
                        <th><%= sortable "rac", "Average Daily Credit" %></th>
                        <th>Alliance</th>
                        <th></th>
                      </tr>

                    <% @profiles.each do |profile| %>
                      <tr>
                        <td><%= profile.name %></td>
                        <td><%= profile.country %></td>
                        <td><%= profile.rank %></td>
                        <td><%= profile.credits %></td>
                        <td><%= profile.rac %></td>
                        <td><%= profile.alliance ? link_to(profile.alliance.name,profile.alliance) : 'Flying Solo' %></td>
                        <td><%= link_to 'Show', profile %></td>
                      </tr>
                    <% end %>
                    </table>
                    <%= paginate @profiles %>
                    <%= page_entries_info @profiles %>

                    <br />
                    <%= form_tag(search_profiles_path, :method => "get") do %>
                        <%= label_tag(:search, "Search for:") %>
                        <%= text_field_tag(:search) %>
                        <%= submit_tag("Search") %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>