<%content_for(:title_bar) do %>
    <div id="intro-sml-wrap">
        <h1 class="fontface">Leaderboard</h1>
    </div>
    <% @user_page =  'leaderboard' %>
       <%=  render 'layouts/user_nav' %>
<% end %>

<%content_for(:content) do %>
    <div id="content-wrap">
        <div class="shadowed">
            <div class="inner-boundary">
                <div id="content-inner">
                    <%= form_tag(search_profiles_path, :method => "get", :class => "pull-right") do %>
                        <%= text_field_tag(:search,nil,:class => "search-query", :placeholder => "Search") %>
                    <% end %>
                    <table id="leaderboard" class="table table-striped">
                      <thead>
                          <tr>
                            <th>Name</th>
                            <th>Country</th>
                            <th><%= sortable "rank", "Rank"%></th>
                            <th><%= sortable "credits", "Total Credit" %></th>
                            <th><%= sortable "rac", "Average Daily Credit" %></th>
                            <th>Alliance</th>
                          </tr>
                      </thead>
                      <tbody>
                        <% @profiles.each do |profile| %>
                          <tr <%= 'class=selected' if (params[:rank] and profile.rank == params[:rank].to_i) %> >
                            <td><%= link_to profile do %>
                                    <%= image_tag profile.avatar_url(24) %>
                                    <%= profile.name %>
                                <% end %>
                            </td>
                            <td><%= link_to profile.country, profile %></td>
                            <td><%= link_to (profile.rank.nil? ? '-':profile.rank), profile %></td>
                            <td><%= link_to number_with_delimiter(profile.credits), profile %></td>
                            <td><%= link_to (profile.rac.nil? ? '-':profile.rac), profile %></td>
                            <td><%= profile.alliance ? link_to(profile.alliance.name,profile.alliance, :style => "text-decoration: underline;") : 'Flying Solo' %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                    <%= paginate @profiles %>
                    <%= page_entries_info @profiles, :entry_name => 'Profile'  %>
                </div>
            </div>
        </div>
    </div>
<% end %>