- my_meta :title => @profile.name,
    :description => "#{@profile.name.possessive} profile details."
-content_for(:title_bar) do
  #intro-sml-wrap
    %h1.fontface= @profile.name
  -@user_page=  'leaderboard'
  =  render 'layouts/user_nav'

-content_for(:content) do
  #content-wrap
    .row-fluid
      .span7
        .row-fluid
          .span12.well.well-white#general
            = image_tag @profile.avatar_url(128)
            %dl.dl-horizontal
              %dt Name:
              %dd= @profile.name
              %dt Country:
              %dd= @profile.country_name
              %dt Total Credit:
              %dd
                = number_with_delimiter(@profile.general_stats_item.total_credit.to_i) + "cr"
                |
                %a#credit_explain{:href => "#", :data => {:toggle => "popover",
                              :placement => "bottom",
                              :content => credit_location(@profile),
                              :html => 'true',
                              :no => {:turbolink => true}},
                             :title => "theSkyNet credit is an amalgamation from several sources: <button type=\"button\" id=\"close\" class=\"close\" onclick=\"$(&quot;#credit_explain&quot;).popover(&quot;hide&quot;);\">&times;</button>"} Explain
              %dt Rank:
              %dd
                = @profile.general_stats_item.rank
                |
                =  link_to "Show in leaderboard" , profiles_path(:rank => @profile.general_stats_item.rank, :page=>'me')
              -if @profile.alliance
                %dt Proud member of:
                %dd= link_to(@profile.alliance.name,@profile.alliance)
              %dt Member Since:
              %dd= @profile.user.joined_at.try(:strftime, '%B %d, %Y')
            %p
              = link_to alliance_history_profile_path(@profile) do
                = "See #{@profile.name.possessive} alliance history."
            %p
              = link_to challenge_history_profile_path(@profile) do
                = "See #{@profile.name.possessive} challenge history."
            -if user_signed_in?
              %p= link_to "Compare #{@profile.name.possessive} to me", profiles_compare_path(@profile.id,current_user.profile.id)

        -if @profile.description.nil? || @profile.description == ''
          -if user_signed_in? && current_user.id == @profile.id
            .row-fluid
              .span12.well.well-white
                %h2 Who am I??
                %p
                  You haven't created a profile yet. Let people know who you are by creating one on the
                  = link_to 'account settings page.', edit_user_registration_path
        -else
          .row-fluid
            .span12.well.well-white
              %h2 Who am I?
              %blockquote.pull-right
                %p= markdown(@profile.description)
                %small= @profile.name
              .clearfix
              -if user_signed_in? && current_user.id == @profile.id
                %p= link_to 'Edit my profile.', edit_user_registration_path
        .row-fluid
          .span12.well.well-white
            %h2 Things I like:
            = show_likes(Trophy, 'Trophies:', :title)
            = show_likes(Alliance, 'Alliances:', :name)


      .span5
        -if @profile.general_stats_item.nereus_stats_item != nil
          .row-fluid
            .span12.well.well-white
              = link_to science_portal_path(:id => "SourceFinder") do
                %h2.pagination-centered= "#{@profile.name} has contributed to:"
                =image_tag('sub_brands/SourceFinder-Small.png')
              - nereus = @profile.general_stats_item.nereus_stats_item
              %dl.dl-horizontal
                %dt Total Credit
                %dd= number_with_delimiter(nereus.credit)

        -if @profile.general_stats_item.boinc_stats_item != nil
          .row-fluid
            .span12.well.well-white
              -boinc = @profile.general_stats_item.boinc_stats_item
              =link_to science_portal_path(:id => 'POGS') do
                %h2.pagination-centered= "#{@profile.name} has contributed to:"
                =image_tag('sub_brands/POGS-Small.png')
              .row-fluid
                .span8.offset1
                  %dl.dl-horizontal
                    %dt Total Credit
                    %dd= number_with_delimiter(boinc.credit)
                    %dt
                      %abbr{:title => "Recent Average Credit"} RAC
                    %dd= boinc.RAC
        .row-fluid
          .span12.well.well-white#latest_trophy
            %h2 Latest Achievement:
            -if @profile.trophies.empty?
              %p
                = @profile.name + " hasn't won any trophies yet."
            -else
              - @trophy = @profile.trophies.order("profiles_trophies.created_at DESC, trophies.credits DESC").limit(1).first
              .media
                %a.pull-left{href: trophy_path(@trophy.id)}
                  = image_tag @trophy.image.url(:medium), class: 'media-object'
                .media-body
                  %h4.media-heading
                    = link_to @trophy.title,  @trophy
                  .desc= @trophy.desc(@trophy_ids).html_safe

            %p
              = link_to  trophies_profile_path(@profile) do
                = @profile.name + " has been awarded " + @profile.trophies.length.to_s + " trophy".pluralize(@profile.trophies.length) + " click here to see them all."
        .row-fluid
          .span12.well.well-white#latest_trophy
            %h2= "#{@profile.name} is following:"
            - @profile.followees_for_show.each do |followee|
              = link_to profile_path(followee) do
                = image_tag followee.avatar_url(32), title: followee.name
            %h2 And is followed by:
            - @profile.followers_for_show.each do |followee|
              = link_to profile_path(followee) do
                = image_tag followee.avatar_url(32), title: followee.name



    .row-fluid
      .span12.well.well-white.graphs
        -boinc_id= @profile.general_stats_item.boinc_stats_item.boinc_id if @profile.general_stats_item.boinc_stats_item != nil && @profile.general_stats_item.boinc_stats_item.credit > 0
        -nereus_id= @profile.general_stats_item.nereus_stats_item.nereus_id if @profile.general_stats_item.nereus_stats_item != nil && @profile.general_stats_item.nereus_stats_item.credit > 0
        -data = {}
        -data[:nereus_id] = nereus_id if nereus_id
        -data[:boinc_id] = boinc_id if boinc_id
        -data[:profile_id] = @profile.id
        #chart_container{:data => data}
    .row-fluid
      .span12.well.well-white#comments
        %h2 Recent Comments
        - comments = @profile.comments.for_show_index.page(params[:page]).per(10)
        = render 'comments/comments_index', comments: comments, small:true
        = paginate comments
        = page_entries_info comments, :entry_name => 'Comment'
