-content_for(:title_bar) do
  #intro-sml-wrap
    %h1.fontface= @profile.name
  -@user_page=  'leaderboard'
  =  render 'layouts/user_nav'

-content_for(:content) do
  #content-wrap
    .shadowed
      .inner-boundary
        #content-inner
          = image_tag @profile.avatar_url(128)
          %p
            %b Name:
            = @profile.name
          %p
            %b Country:
            = @profile.country
          %p
            %b Total Credit:
            = number_with_delimiter(@profile.general_stats_item.total_credit) + "cr"
            =  link_to "Show in leaderboard" , profiles_path(:rank => @profile.general_stats_item.rank)
          -if @profile.alliance
            %p
              %b Proud member of :
              = link_to(@profile.alliance.name,@profile.alliance)
          %p
            %b Member Since:
            = @profile.user.confirmed_at

          %p
            %b Latest Achievement:
            -if @profile.trophies.empty?
              = @profile.name + " hasn't won any trophies yet."
            -else
              = link_to (image_tag @profile.trophies.last.image.url), @profile.trophies.last
              = link_to @profile.trophies.last.title,  @profile.trophies.last
          %p
            = link_to  trophies_profile_path(@profile) do
              = @profile.name + " has been awarded " + @profile.trophies.length.to_s + " trophy".pluralize(@profile.trophies.length) + " click here to see them all."

          -boinc_id= @profile.general_stats_item.boinc_stats_item.boinc_id if @profile.general_stats_item.boinc_stats_item != nil
          -nereus_id= @profile.general_stats_item.nereus_stats_item.nereus_id if @profile.general_stats_item.nereus_stats_item != nil
          #chart_container{:data => {:boinc_id=>boinc_id, :nereus_id=> nereus_id, :profile_id => @profile.id}}
