<%content_for(:title_bar) do %>
    <div id="intro-sml-wrap">
        <h1 class="fontface"><%= @profile.name %></h1>
    </div>
    <% @user_page =  'leaderboard' %>
    <%=  render 'layouts/user_nav' %>
<% end %>

<%content_for(:content) do %>

    <div id="content-wrap">

        <div class="shadowed">
            <div class="inner-boundary">
                <div id="content-inner">
                    <%= image_tag @profile.avatar_url(128) %>
                    <p>
                      <b>Name:</b>
                      <%= @profile.name %>
                    </p>

                    <p>
                      <b>Country:</b>
                      <%= @profile.country %>
                    </p>
                    <p>
                      <b>Total Credit:</b>
                      <%= number_with_delimiter(@profile.general_stats_item.total_credit) %> cr
                      <%=  link_to "Show in leaderboard" , profiles_path(:rank => @profile.general_stats_item.rank) %>
                    </p>
                    <% if @profile.alliance %>
                        <p>
                            <b>Proud member of </b>
                            <%= link_to(@profile.alliance.name,@profile.alliance) %>
                        </p>
                    <% end %>
                    <p>
                        <b>Member Since:</b>
                        <%= @profile.user.confirmation_sent_at %>
                    </p>

                    <p>
                        <b>Latest Achievement:</b>
                        <% if @profile.trophies.empty? %>
                            <%= @profile.name %> hasn't won any trophies yet.
                        <% else %>
                            <%= link_to (image_tag @profile.trophies.last.image.url), @profile.trophies.last %>
                            <%= link_to @profile.trophies.last.title,  @profile.trophies.last %>
                        <% end %>
                    </p>
                    <p>
                        <%= link_to  trophies_profile_path(@profile) do %>
                            <%= @profile.name %> has been awarded <%= @profile.trophies.length %> <%= "trophy".pluralize(@profile.trophies.length) %>, click here to see them all.
                        <% end %>
                    </p>

                    <% if @profile.general_stats_item.boinc_stats_item != nil %>
                    <div id="chart_container" <%=  "data-boinc_id=#{ @profile.general_stats_item.boinc_stats_item.boinc_id}" %>> </div>
                    <% end %>

                </div>
            </div>
        </div>
    </div>
<% end %>