<%content_for(:title_bar) do %>
    <div id="intro-sml-wrap">
        <h1 class="fontface"><%= @profile.name %></h1>
    </div>
    <% @user_page =  'leaderboard' %>
    <%=  render 'layouts/user_nav' %>
<% end %>

<%content_for(:content) do %>

    <div id="content-wrap">

        <div class="shadowed">
            <div class="inner-boundary">
                <div id="content-inner">
                    <p>
                      <b>Name:</b>
                      <%= @profile.name %>
                    </p>

                    <p>
                      <b>Country:</b>
                      <%= @profile.country %>
                    </p>
                    <p>
                      <b>Total Credit:</b>
                      <%= number_with_delimiter(@profile.general_stats_item.total_credit) %> cr
                      <%=  link_to "Show in leaderboard" , profiles_path(:rank => @profile.general_stats_item.rank) %>
                    </p>
                    <% if @profile.alliance %>
                        <p>
                            <b>Proud member of </b>
                            <%= link_to(@profile.alliance.name,@profile.alliance) %>
                        </p>
                    <% end %>
                    <p>
                        <b>Member Since:</b>
                        <%= @profile.user.confirmation_sent_at %>
                    </p>

                    <p>
                        <b>Latest Achievement:</b>
                        <%= link_to (image_tag @profile.trophies.last.image.url), @profile.trophies.last %>
                        <%= link_to @profile.trophies.last.title,  @profile.trophies.last %>
                    </p>
                    <p>
                        <%= link_to  trophies_profile_path(@profile) do %>
                            <%= @profile.name %> has been awarded <%= @profile.trophies.length %> <%= "trophy".pluralize(@profile.trophies.length) %>, click here to see them all.
                        <% end %>
                    </p>

                </div>
            </div>
        </div>


            <p><b>Boinc</b>
              <%
                 boinc = @profile.general_stats_item.boinc_stats_item
                 if boinc == nil
              %>
                    <% if user_signed_in? && @profile == current_user.profile %>
                      <%= render 'boinc_forms' %>
                    <% else %>
                        User not using boinc.
                    <% end %>
              <% else %>
                <%= "credit = #{boinc.credit}" %>
              <% end %>


            </p>

            <p><b>Nereus</b>
              <%
                 nereus = @profile.general_stats_item.nereus_stats_item
                 if nereus == nil
              %>
                  <% if user_signed_in? && @profile == current_user.profile %>
                      <%= render 'nereus_form' %>
                <% else %>
                    User not using nereus.
                <% end %>
            <% else %>
                <%= "credit = #{nereus.credit}" %>
            <% end %>
            </p>

            <div id="chart_container" <%=  boinc ? "data-boinc_id=#{boinc.boinc_id}" : "" %> <%=  nereus ? "data-nereus_id=#{nereus.nereus_id}" : "" %> > </div>

        </div>
    </div>
<% end %>