- meta :title => "theSkyNet: #{@profile.name.titlecase.possessive} Trophy Cabinet",
   :description => "All of the trophies that #{@profile.name.titlecase} has been awarded for their great work with theSkyNet"

-content_for(:title_bar) do
  #intro-sml-wrap
    %h1.fontface= "#{@profile.name.titlecase.possessive} Trophy Cabinet"
  -@user_page =  (user_signed_in? && @profile == current_user.profile) ? 'my_trophies' : 'leaderboard'
  =render 'layouts/user_nav'

-content_for(:content) do
  #content-wrap
    .well.well-white
      - if user_signed_in? && @profile.id == current_user.profile.id && !@profile.general_stats_item.nereus_stats_item.nil? && @profile.general_stats_item.nereus_stats_item.founding?
        .well
          %p Congratulations on being a Founding Member!
          #founding_cert_box
            =form_tag(send_cert_nereus_path, :method => "post", :remote => true, :id => 'founding_cert_form') do
              =submit_tag('Click here to generate your Founding member Certificate.', :class => "btn btn-tsn")
      .well
        %p
          -num = TrophySet.count_trophies @trophies
          ="#{@profile.name.titlecase} has been awarded #{num} trophies."
        %p
          - if params[:style] == 'grid'
            =link_to 'view all of the trophies as list', params.merge(:style => 'list')
          -else
            =link_to 'view all of the trophies as grid', params.merge(:style => 'grid')

      -if params[:style] == 'grid'
        -@trophies.each do |set|
          .well
            %h3=  set.name
            -set.profile_trophies.each_slice(4) do |trophy_row|
              .row_fluid
                %ul.thumbnails
                  -trophy_row.each do |trophy|
                    %li.span2
                      .thumbnail
                        %a.fancybox{:href=>trophy.image.url,:rel=>"trophies"}= image_tag trophy.image.url, :class=>"media-object"
                        .caption
                          %h4= link_to "#{trophy.title.titlecase}" ,  trophy
                          %p= "(#{number_with_delimiter(trophy.show_credits(@trophy_ids))} cr)"
                          - if user_signed_in? && @profile.id == current_user.profile.id
                            = render 'trophies/trophys_share', :trophy => trophy
      -else
        -@trophies.each do |set|
          .well
            %h3=  set.name
            -set.profile_trophies.each do |trophy|
              .media
                %a.pull-left.fancybox{:href=>trophy.image.url,:rel=>"trophies"}= image_tag trophy.image.url, :class=>"media-object"
                .media-body
                  %h4.media-heading= link_to "#{trophy.title.titlecase} (#{number_with_delimiter(trophy.show_credits(@trophy_ids))} cr)" ,  trophy
                  %p=trophy.desc(@trophy_ids)
                  - if user_signed_in? && @profile.id == current_user.profile.id
                    = render 'trophies/trophys_share', :trophy => trophy

