<%content_for(:title_bar) do %>
    <div id="intro-sml-wrap">
        <h1 class="fontface"><%= @profile.name.titlecase.possessive %> Trophy Cabinet</h1>
    </div>
    <% @user_page =  (user_signed_in? && @profile == current_user.profile) ? 'my_trophies' : 'leaderboard' %>
    <%=  render 'layouts/user_nav' %>
<% end %>

<%content_for(:content) do %>

    <div id="content-wrap">


        <div class="shadowed">
            <div class="inner-boundary">
                <div id="content-inner">
                        <% @trophies.each do |trophy| %>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <%= image_tag trophy.image.url, :class=>"media-object" %>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading"><%= link_to "#{trophy.title.titlecase} (#{trophy.credits})" ,  trophy %></h4>
                                <%= trophy.desc %>
                            </div>
                        </div>
                        <% end %>
                </div>

            </div>
        </div>

    </div>
<% end %>