- meta :title => "theSkyNet: #{@profile.name.possessive} Trophy Cabinet",
   :description => "All of the trophies that #{@profile.name} has been awarded for their great work with theSkyNet"

-content_for(:title_bar) do
  #intro-sml-wrap
    %h1.fontface= "#{@profile.name.possessive} Trophy Cabinet"
  -@user_page =  (user_signed_in? && @profile == current_user.profile) ? 'my_trophies' : 'leaderboard'
  =render 'layouts/user_nav'

-content_for(:content) do
  #content-wrap
    .well
      - if user_signed_in? && @profile.id == current_user.profile.id && !@profile.general_stats_item.nereus_stats_item.nil? && @profile.general_stats_item.nereus_stats_item.founding?
        .well.well-white
          %p Congratulations on being a Founding Member!
          #founding_cert_box
            =form_tag(send_cert_nereus_path, :method => "post", :remote => true, :id => 'founding_cert_form') do
              =submit_tag('Click here to generate your Founding member Certificate.', :class => "btn btn-tsn")
      .well.well-white
        %p
          -if @by_sets
            -num = TrophySet.count_trophies @trophies
          -else
            -num = @trophies.size

          ="#{@profile.name} has been awarded #{num} trophies."
          -if params[:style] == "credit"
            %p=link_to 'view all of the trophies as grid', params.merge(:style => 'grid')
            %p=link_to 'view all of the trophies as list', params.merge(:style => 'list')
          -else
            -if params[:style] == 'grid'
              %p=link_to 'sort all of the trophies by credit', params.merge(:style => 'credit')
              %p=link_to 'view all of the trophies as list', params.merge(:style => 'list')
            -else
              %p=link_to 'sort all of the trophies by credit', params.merge(:style => 'credit')
              %p=link_to 'view all of the trophies as grid', params.merge(:style => 'grid')

      -if params[:style] == "credit"
        -@trophies.each do |trophy|
          .well-white.well
            .media
              %a.pull-left.fancybox{:href=>trophy.image.url,:rel=>"trophies"}= image_tag trophy.image.url, :class=>"media-object"
              .media-body
                %h4.media-heading= link_to format_heading(trophy,@trophy_ids) ,  trophy
                %p=trophy.desc(@trophy_ids).html_safe
                - if user_signed_in? && @profile.id == current_user.profile.id
                  = render 'trophies/trophys_share', :trophy => trophy
      -elsif params[:style] == 'grid'
        -@trophies.each do |set|
          .well.well-white
            %h3=  set.name
            -set.profile_trophies.each_slice(4) do |trophy_row|
              .row_fluid
                %ul.thumbnails
                  -trophy_row.each do |trophy|
                    %li.span2
                      .thumbnail
                        %a.fancybox{:href=>trophy.image.url,:rel=>"trophies"}= image_tag trophy.image.url, :class=>"media-object"
                        .caption
                          %h4= link_to "#{trophy.title}" ,  trophy
                          -unless trophy.credits.nil? || trophy.credits == 0
                            %p= "(#{format_credit(trophy,@trophy_ids)})"
      -elsif params[:style] == "priority"
        -if params[:by_set]
          - if params[:carousel]
            #trophy-cabinet.well-white.well
              #trophy-carousel.carousel.slide
                .carousel-indicators
                  - i=0
                  - @trophies.each do |set|
                    .carousel-nav{class: ("active" if i == 0)}
                      = ' | ' unless i == 0
                      %a{"data-slide-to" => i, "data-target" => "#trophy-carousel" , href: "#trophy-cabinet"}= set.name
                    - i = 1+i
                %hr
                .carousel-inner
                  - first = true
                  - @trophies.each do |set|
                    - rows = sort_trophies_by_priority set.profile_trophies
                    .item{class: ("active" if first)}
                      %h3= set.name
                      - rows.each do |trophy_row|
                        = render 'trophy_shelf', trophy_row: trophy_row
                    - first = false


          -else
            #trophy-cabinet
              - @trophies.each do |set|
                - rows = sort_trophies_by_priority set.profile_trophies
                .well-white.well
                  %h3= set.name
                  - rows.each do |trophy_row|
                    = render 'trophy_shelf', trophy_row: trophy_row
        -else
          - rows = sort_trophies_by_priority @trophies
          - if params[:carousel]
            .well-white.well
              #trophy-cabinet.carousel.slide
                .carousel-inner
                  - first = true
                  - rows.each do |trophy_row|
                    .item{class: ("active" if first)}
                      = render 'trophy_shelf', trophy_row: trophy_row
                    - first = false
                %a.left{"data-slide" => "prev", href: "#trophy-cabinet"} ‹
                %a.right{"data-slide" => "next", href: "#trophy-cabinet"} ›
                - (0..rows.size-1).each do |i|
                  %a{class: ("active" if i == 0),"data-slide-to" => i, "data-target" => "#trophy-cabinet" , href: "#trophy-cabinet"}= i

          - else
            #trophy-cabinet.well-white.well
              - rows.each do |trophy_row|
                = render 'trophy_shelf', trophy_row: trophy_row
      -else
        -@trophies.each do |set|
          .well-white.well
            %h3=  set.name
            -set.profile_trophies.each do |trophy|
              .media
                %a.pull-left.fancybox{:href=>trophy.image.url,:rel=>"trophies"}= image_tag trophy.image.url, :class=>"media-object"
                .media-body
                  %h4.media-heading= link_to format_heading(trophy,@trophy_ids),  trophy
                  %p=trophy.desc(@trophy_ids).html_safe
                  - if user_signed_in? && @profile.id == current_user.profile.id
                    = render 'trophies/trophys_share', :trophy => trophy
