    <% if user_signed_in? %>
        <span class="navbar-text">Welcome back, <%= current_user.profile.name %></span>
        <%= link_to("Logout", destroy_user_session_path, :class => "btn btn-tsn")%>
        <%= link_to("Edit registration", edit_user_registration_path, :class => "btn btn-tsn") %>

    <% else %>
        <span class="navbar-text">You are not logged in</span>
        <%= link_to('Register', new_user_registration_path, :class => "btn btn-tsn")%>
        <%= link_to('Login',new_user_session_path, :class => "btn btn-tsn")%>
    <% end %>
