    <% if user_signed_in? %>
        <span class="navbar-text"><%= t "nav.welcome" %> <%= current_user.profile.name %></span>
        <span class="btn-toolbar">
            <div class="btn-group">
                <%= link_to(t("nav.logout"), destroy_user_session_path, :class => "btn btn-tsn") %>
                <%= link_to t("nav.dashboard"), my_profile_path, :class=>"btn btn-tsn" %>
                <button class="btn dropdown-toggle btn-tsn" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><%= link_to(t("nav.edit_reg"), edit_user_registration_path) %></li>
                    <% if  current_user.profile.alliance %>
                        <li <%=  'class=active' if (@user_page == 'my_alliance') %>><%= link_to(t("nav.my_alliance"), current_user.profile.alliance)  %></li>
                    <% end %>
                    <li class="dropdown-submenu">
                        <a href="#"> <%= t "leaderboards.title" %></a>
                        <ul class="dropdown-menu">
                            <li <%=  'class=active' if (@user_page == 'leaderboard') %>><%= link_to(t("leaderboards.individual"), profiles_path)  %></li>
                            <li <%=  'class=active' if (@user_page == 'alliance_leaderboard') %>><%= link_to(t("leaderboards.alliances"), alliances_path)  %></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><%= link_to(t("nav.science"), science_portals_path) %>
                        <ul class="dropdown-menu">
                            <li><%= link_to('POGS', science_portal_path(:id => 'POGS')) %></li>
                            <li><%= link_to('SourceFinder', science_portal_path(:id => 'SourceFinder')) %></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </span>


    <% else %>
        <span class="navbar-text"><%= t "nav.not_logged_in" %></span>
        <span class="btn-toolbar">
            <div class="btn-group">
                <%= link_to(t("nav.reg"), new_user_registration_path, :class => "btn btn-tsn")%>
                <%= link_to(t("nav.log_in"),new_user_session_path, :class => "btn btn-tsn")%>
            </div>
        </span>
    <% end %>
