=image_tag('boinc_bar.gif')
-boinc = @profile.general_stats_item.boinc_stats_item
-if boinc == nil
  = render 'boinc_forms'
-else
  %p
    = "Credit = #{boinc.credit}"
    %br
    = "Recent Average Credit = #{boinc.RAC}"
    %br
    -if @boinc_galaxy != nil
      -link = boinc_galaxy_path(boinc.boinc_id,@boinc_galaxy.id)
      .media
        %a.pull-left{:href=>link}= image_tag @boinc_galaxy.thumbnail_url, :class=>"media-object"
        .media-body
          %h4.media-heading= link_to @boinc_galaxy.name, link
          %p
            This is one of the galaxy's your computer has been procession. Click on it for more details.

    %p= link_to "See all your galaxies here", boinc_galaxies_path(boinc.boinc_id)
    %p= link_to "And see all of the POGS galaxies here", galaxies_path
