<p>
    <b>Credit:</b>
    <%= number_with_delimiter(@profile.general_stats_item.total_credit) %>
    <br/>
    Rank: <%= @profile.general_stats_item.rank %>
    <%=  link_to "Show my place in the leaderboard" , profiles_path(:rank => @profile.general_stats_item.rank) %>    <br />
    <br/>
    Average Daily Credit:<%= @profile.general_stats_item.recent_avg_credit %>
    <br/>
    <b>Latest Achievement:</b><br/>
    <% trophy = @profile.trophies.order("profiles_trophies.created_at DESC, trophies.credits DESC").limit(1).first %>
    <% if trophy == nil %>
        You hasn't won any trophies yet
    <% else %>
        <%= link_to (image_tag trophy.image.url), trophy %>
        <%= link_to trophy.title,  trophy %>
    <% end %>
    <br/>
    <% credits_to_go  = @profile.general_stats_item.credits_to_next_trophy%>
    Only <%=  number_with_delimiter(credits_to_go) %>  <%= "credit".pluralize(credits_to_go)%> to go until the your next trophy
    <% trophy_per =  @profile.general_stats_item.credits_from_last_trophy*100.0/(@profile.general_stats_item.credits_to_next_trophy+@profile.general_stats_item.credits_from_last_trophy)%>
    <div class="progress progress-striped active">
        <div class="bar" style="width: <%= trophy_per%>%;"></div>
    </div>
</p>