<h2><%= t "leaderboards.title" %></h2>
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-individual" data-toggle="tab"><%= t "leaderboards.individual" %></a></li>
        <li><a href="#tab-alliances" data-toggle="tab"><%= t "leaderboards.alliances" %></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active fade in" id="tab-individual">
            <table class="table table-striped">
                <thead><tr>
                    <th><%= t "leaderboards.rank" %></th>
                    <th><%= t "leaderboards.name" %></th>
                    <th><%= t "leaderboards.credit" %></th>
                </tr></thead>

                <tbody>
                    <% @top_profiles.each do |profile| %>
                        <tr>
                            <td><%= link_to(profile.rank, profile)%></td>
                            <td><%=link_to(profile.name, profile)%></td>
                            <td><%= link_to(number_with_delimiter(profile.credits), profile)%></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <%= link_to "View full leaderboards", profiles_path, :class=>"btn btn-tsn"%>
        </div>
        <div class="tab-pane fade" id="tab-alliances">
            <table class="table table-striped">
            <thead><tr>
                <th><%= t "leaderboards.rank" %></th>
                <th><%= t "leaderboards.name" %></th>
                <th><%= t "leaderboards.credit" %></th>
            </tr></thead>

            <tbody>
            <% @top_alliances.each do |alliance| %>
                <tr>
                    <td><%= link_to(alliance.ranking, alliance)%></td>
                    <td><%=link_to(alliance.name, alliance)%></td>
                    <td><%= link_to(number_with_delimiter(alliance.credit), alliance)%></td>
                </tr>
            <% end %>
            </tbody>
            </table>
            <%= link_to t("leaderboards.full_link"), alliances_path, :class=>"btn btn-tsn"%>
        </div>
    </div>

</div>