.well.well-white{id: "new_comment_inline_#{@comment.parent_id}"}
  %h4 New Comment

  = simple_form_for(@comment, remote: remote) do |f|
    = f.input :content, input_html: {rows: 5, class: 'input-xlarge'}, hint: "You may use <a href=\"https://help.github.com/articles/github-flavored-markdown\">GitHub Flavored Markdown</a> for formatting.".html_safe
    = f.hidden_field :commentable_id
    = f.hidden_field :commentable_type
    = f.hidden_field :parent_id
    .control-group
      .controls
        = f.button :submit