<ul>
  {{#each shout in model itemController="shout_box"}}
      <li>
        {{#if isEditing }}
          {{edit-shout_box value=shout.msg focus-out="acceptChanges" insert-newline="acceptChanges"}}
        {{else}}
            <span {{action "editShout" on="doubleClick"}}>
                {{shout.msg}} :: {{shout.id}} :: <button {{action "removeShout"}} class="destroy">X</button> ::
              {{#link-to 'shout_boxes.show' shout}}Show{{/link-to}}
            </span>
        {{/if}}
      </li>
  {{/each}}
</ul>