-content_for(:title_home) do
  #intro-home
    -if @special_days.contains_feature('april_fools_2014')
      = image_tag 'April-Fools-slowest.gif'
    - else
      #intro-home-wrap
        %h1.fontface= t '.splash_header'
        %p= t".splash_msg"
    %span#intro-img= ' '
  %span.ribbon
    #ribbon-content
      -if @TFLOPSStat
        #TFLOPS-count.pull-right
          %a{:href=>'#', :title => t(".TFLOPS_hover"), :data => {:toggle => "tooltip"}}
            =@TFLOPSStat.value.to_s
            %i{:class=>"icon-#{@TFLOPSStat.dir == "asc" ? "arrow-up" : "arrow-down"}"}
            %abbr{:title => t(".TFLOPS")} TFLOPS
      #ribbonsocial.pull-right
        %a{:href=>"http://www.facebook.com/pages/TheSkyNet/214061585306810"}= image_tag('social_fb.png',:width =>29, :height => 29, :alt => t("social.FB_fav"), :style=> 'margin-right:10px;')
        %a{:href=>"http://www.twitter.com/#!/_theSkyNet"}= image_tag('social_tw.png',:width =>29, :height => 29, :alt => t("social.twitter_follow"), :style=> 'margin-right:10px;')
      - if user_signed_in?
        #GFLOPS-user
          =link_to my_profile_path do
            = "#{t(".contribution")} #{current_user.profile.general_stats_item.gflops} "
            %abbr{:title => t(".GFLOPS")} GFLOPS
      -else
        = link_to('Sign up now!!', new_user_session_path, :class => "signupbutton")

-content_for(:content) do
  .row-fluid
    #activity_feed.span12.well
      %ul#activity_list
        - i = 0
        - @activity.reverse_each do |activity|
          = ActivityPresenter.new(activity, self).render_activity
          - f = @feed[i%@feed.size]
          %li.stats_item= f.desc
          - i += 1
      #loading Loading ...
  #content-wrap-home
    .row-fluid
      .span6.page_content
        = @page.content.html_safe if @page
      .span6
        #info-skynet.info-about.last
          %h2= t ".why"
          %ul#reasons
            %li.track= t ".track"
            %li.earn= t ".earn"
            %li.share= t ".share"

  .row-fluid
    #news.span6.well
      %h2= t ".latest_news"
      #news_list
        -@news.each_with_index do |item, index|
          = render 'news/news_short', :item => item, :index => index

    #leaderboards.span6.well
      = render 'profiles/dashboard/ladder_dashboard', minimise: false

  #main-graphs.row-fluid.tabbable.well
    %ul.nav.nav-tabs
      %li.active
        %a{:href=>"#tab-global", :data => {:toggle=>"tab"}}= t ".stats.global"
      %li
        %a{:href=>"#tab-boinc", :data => {:toggle=>"tab"}}= t ".stats.boinc"
      %li
        %a{:href=>"#tab-nereus", :data => {:toggle=>"tab"}}= t ".stats.nereus"
    .span12
      .tab-content
        .tab-pane.fade.in.active#tab-global
          %h2= "#{t(".stats.current")} #{t(".stats.global")}"
          #global_graphs
        .tab-pane.fade.in#tab-boinc
          %h2= "#{t(".stats.current")} #{t(".stats.boinc")}"
          #boinc_graphs
        .tab-pane.fade.in#tab-nereus
          %h2= "#{t(".stats.current")} #{t(".stats.nereus")}"
          #nereus_graphs


