-content_for(:title_home) do
  #intro-home{:style => "cursor:pointer;", :onclick=>"run(getQueryVariable('userID'))"}
    #intro-home-wrap{:style=>"cursor:pointer;", :onClick=> "run(getQueryVariable('userID'))"}
      %h1.fontface Play your part and help discover our Universe!
      %p Have a computer? Want to help astronomers make awesome discoveries and understand our Universe? Then theSkyNet needs you!
    %span#intro-img{:onclick=>"run(getQueryVariable('userID'))"}= ' '
  %span.ribbon
    #ribbon-content
      = link_to('Sign up now', new_user_session_path, :class => "signupbutton")
      %p
        %a{:href=>"#", :onClick=>"run()"} or click here run theSkyNet without having to register
      -if @TFLOPSStat
        #TFLOPS-count.pull-right
          %a{:href=>'#', :title => "Please note this is only an estimate", :data => {:toggle => "tooltip"}}
            =@TFLOPSStat.value.to_s
            %i{:class=>"icon-#{@TFLOPSStat.dir == "asc" ? "arrow-up" : "arrow-down"}"}
            %abbr{:title => "Terra Floating Point Operations per Second"} TFLOPS
      #ribbonsocial
        %a{:href=>"http://www.facebook.com/pages/TheSkyNet/214061585306810"}= image_tag('social_fb.png',:width =>32, :height => 32, :alt => "Become a Facebook Fan", :style=> 'margin-right:10px;')
        %a{:href=>"http://www.twitter.com/#!/_theSkyNet"}= image_tag('social_tw.png',:width =>32, :height => 32, :alt => "Follow us on Twitter", :style=> 'margin-right:10px;')
-content_for(:content) do
  #content-wrap-home
    .row-fluid
      .span12
        =render 'layouts/feed'
    .row-fluid
      .span6.page_content
        = @page.content.html_safe if @page
      .span6
        #info-skynet.info-about.last
          %h2 Why should I join?
          %ul#reasons
            %li.track Contribute to real scientific research and help scientists unlock the mysteries of our Universe!
            %li.earn Track your contribution and see how you compare against your friends, colleagues and the world!.
            %li.share Share your progress on all your favourite social networks.

  .row-fluid
    #news.span6.well
      %h2 Latest News
      -@news.each do |item|
        = render 'news/news_short', :item => item
    #leaderboards.span6.well
      = render 'profiles/dashboard/ladder_dashboard'

  #main-graphs.row-fluid.tabbable.well
    %ul.nav.nav-tabs
      %li.active
        %a{:href=>"#tab-global", :data => {:toggle=>"tab"}} Global Stats
      %li
        %a{:href=>"#tab-boinc", :data => {:toggle=>"tab"}} BOINC Stats
      %li
        %a{:href=>"#tab-nereus", :data => {:toggle=>"tab"}} Nereus Stats
    .span12
      .tab-content
        .tab-pane.fade.in.active#tab-global
          %h2 Current Global Stats
          #global_graphs
        .tab-pane.fade.in#tab-boinc
          %h2 Current Global Boinc Stats
          #boinc_graphs
        .tab-pane.fade.in#tab-nereus
          %h2 Current Global Nereus Stats
          #nereus_graphs


