-content_for(:title_bar) do
  #intro-sml-wrap
    %h1.fontface= @title
  #page-nav.navbar.navbar-inverse
    .navbar-inner
      %ul.nav
        -unless @page.science_portal_id.nil?
          %li= link_to(t(".all_projects"),science_portals_path)
          %li= link_to(@page.science_portal.name, @page.science_portal)
        -@links.each do |link|
          %li{:class => (link == @page? 'active' : '')}= link_to(link.title, link)

-content_for(:content) do
  #content-wrap
    .well.well-white
      %div= @content