<!DOCTYPE html>
<html>
<head>
    <title>theSkyNet - Running...</title>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag    "application", :media => "all" %>



    <%= javascript_include_tag "application" %>

</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>" <%=  params[:id] ? "data-id=#{params[:id]}" : "" %> onload="javaCheck()" onbeforeunload="leavingPage()" style="background:#ffffff url(<%= asset_path("windowbg.jpg")%>) top center no-repeat;">
<div style="text-align:center;" width="100%" height="100%">
    <%= image_tag("logosmall2.png", :style => "margin-top:15px;") %>
    <h3 style="color:#0e6199;" id="contributionMessage">Thank You for contributions to theSkyNet, However processing is currently suspended.</h3>

</div>
</body>
</html>