- my_meta :title => @boinc_id == nil ? "All POGS Galaxies" : "Your POGS Galaxies",
    :description => "See all the galaxies processed by theSkyNet POGS"
-content_for(:title_bar) do
  #intro-sml-wrap
    %h1.fontface= @boinc_id == nil ? "All Galaxies" : "Your Galaxies"
  -@user_page =  'dashboard'
  =render 'layouts/user_nav'

-content_for(:content) do
  #content-wrap
    .shadowed
      .inner-boundary
        #content-inner
          -if @notice
            .alert.fade.in.alert-success
              %button.close{"data-dismiss" => "alert"} &times;
              = @notice.html_safe
          .accordion#search-accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{:data => {:toggle=> "collapse", :parent => "#accordion2"},:href=>"#collapseSearch"} Search
              #collapseSearch.accordion-body.collapse
                .accordion-inner
                  = form_tag('', :method => "get", :class => ".form-horizontal") do
                    .control-group
                      = label_tag :name, "Name"
                      = text_field_tag :name, params[:name]
                      = label_tag :galaxy_type, "Type"
                      = select_tag(:galaxy_type, galaxy_types(params[:galaxy_type]))
                      = label_tag :tag, 'Galaxy Tag'
                      = text_field_tag :tag, params[:tag], data: {}
                    -if @science_user == true
                      .control-group
                        Galaxy ID from
                        = text_field_tag :id_from, params[:id_from]
                        to
                        = text_field_tag :id_to, params[:id_to]

                    .control-group
                      Right Ascension from
                      = text_field_tag :ra_from, params[:ra_from]
                      to
                      = text_field_tag :ra_to, params[:ra_to]

                    .control-group
                      -# label_tag :dec_from do
                      Declination from
                      = text_field_tag :dec_from, params[:dec_from]
                      to
                      = text_field_tag :dec_to, params[:dec_to]


                    .control-group
                      = submit_tag "Apply Filter"
            -if @science_user == true
              .accordion-group
                .accordion-heading
                  %a.accordion-toggle{:data => {:toggle=> "collapse", :parent => "#search-accordion"},:href=>"#collapseRequest"} Gather Science Data
                  = link_to "Clear All Requests", clear_hdf5_requests_path, :class => "btn btn-tsn"
                  = link_to "Add Current Page to Requests", add_search_hdf5_requests_path(request.query_parameters), :class => "btn btn-tsn"

                #collapseRequest.accordion-body.collapse{:class => (@request_new.errors.empty? ? nil : 'in')}
                  .accordion-inner
                    = simple_form_for @request_new do |f|
                      - @request_new.email = current_user.email
                      .galaxy_ids
                        Currently Selected Galaxies:
                        %ul
                          - @hdf5_request_galaxies.each do |g|
                            %li
                              = "#{g[:name]} id:#{g[:galaxy_id]}"
                              = link_to "Remove.", remove_hdf5_requests_path(request.query_parameters.merge(:galaxy_id => g[:galaxy_id], :return_to => 'galaxy_index')), :class => "btn btn-tsn btn-mini"
                        .text-error= @request_new.errors.messages[:galaxies].join(', ') if @request_new.errors.messages[:galaxies]
                      .row-fluid
                        .span12
                          = f.input :email
                      .row-fluid
                        .span6.well.well-white
                          = f.association :layers, label_method: :name_for_form, as: :check_boxes, include_blank: false
                        .span6.well.well-white
                          = f.association :features, label_method: :name_for_form, as: :check_boxes, include_hidden: false
                        .span6.well.well-white
                          = f.association :pixel_types, label_method: :name_for_form, as: :check_boxes, include_hidden: false
                      .row-fluid
                        .span12
                          = f.button :submit, "Submit All"

          %table#galaxies.table.table-striped
            %thead
              %tr
                %th=sortable 'name', 'Name'
                - if @science_user ==true
                  %th= sortable 'galaxy_id', 'ID'
                %th=sortable 'galaxy_type', 'Type'
                %th=sortable 'redshift', 'Redshift'
                %th
                  %abbr{:title => "Dimensions"}=sortable '(dimension_x*dimension_y)', 'Dim'
                %th
                  %abbr{:title => "Right Ascension"}=sortable 'ra_cent', 'RA'
                %th
                  %abbr{:title => "Declination"}=sortable 'dec_cent', 'Dec'
                %th
                  %abbr{:title => "Percentage Complete"}=sortable '(pixels_processed/pixel_count)', '%'
                %th More
            %tbody
              -@galaxies.each do |galaxy|
                %tr
                  %td
                    - link = @boinc_id == nil ? galaxy : boinc_galaxy_path(@boinc_id,galaxy.id)
                    = link_to link do
                      =galaxy.name
                      = image_tag galaxy.thumbnail_url
                  -if @science_user == true
                    %td= link_to "#{galaxy.id}_#{galaxy.run_id}", link
                  %td= link_to galaxy.galaxy_type, link
                  %td= link_to galaxy.redshift.to_s, link
                  %td= link_to "#{galaxy.dimension_x} x #{galaxy.dimension_y}", link
                  %td= link_to galaxy.ra_cent, link
                  %td= link_to galaxy.dec_cent, link
                  %td= link_to "#{galaxy.per_complete}%", link
                  %td
                    -if @science_user == true
                      - link_disabled = @hdf5_request_galaxies.any?{|i| i[:galaxy_id] == galaxy.id} || ![3,4].include?(galaxy.status_id)
                      - link_class = link_disabled ? "btn btn-tsn btn-mini disabled"  :"btn btn-tsn btn-mini"
                      = link_to "Add Request", add_hdf5_requests_path(request.query_parameters.merge(:galaxy_id => galaxy.id)), :class => link_class
                    = link_to "More Galaxy details", galaxy.more_info_url
          - @galaxies.total_count(:galaxy_id,:distinct => true)
          = paginate @galaxies, params: {controller: "galaxies", action: "index"}
          = page_entries_info @galaxies, :entry_name => 'Galaxy'
          -if @science_user == true
            = render 'shared/per_page_selector', per_page_list: [10,20,50,100,200,500], extra_options: {controller: "galaxies", action: "index"}
          -else
            = render 'shared/per_page_selector', extra_options: {controller: "galaxies", action: "index"}