-content_for(:title_bar) do
  #intro-sml-wrap
    %h1.fontface= @galaxy.name
  -@user_page =  'dashboard'
  =render 'layouts/user_nav'

-content_for(:content) do
  #content-wrap
    .shadowed
      .inner-boundary
        #content-inner
          #galaxy-info.well
            %h2= "Galaxy Info: #{@galaxy.name}"
            %dl.dl-horizontal
              %dt
                %abbr{:title => "Right Ascension"} RA
              %dd= @galaxy.ra_cent
              %dt
                %abbr{:title => "Declination"} Dec
              %dd= @galaxy.dec_cent
              %dt Redshift
              %dd= @galaxy.redshift
              %dt Type
              %dd= @galaxy.galaxy_type
              %dt
                %abbr{:title => "Dimensions"} Dim
              %dd= "#{@galaxy.dimension_x} x #{@galaxy.dimension_y}"
              %dt
                %abbr{:title => "Percentage Complete"} %
              %dd= "#{@galaxy.per_complete}%"
              %dt
              %dd= link_to "More Galaxy details", @galaxy.more_info_url
            %p
              - if @boinc_id
                The following are images of the galaxy using four combinations of filters where the bright square or rectangular areas are those where you have been credited with the processing.
              -else
                The following are images of the galaxy using four combinations of filters.
            %ul.thumbnails
              - if @boinc_id
                =render "galaxies/image", {:link => image_boinc_galaxy_url(:id => @galaxy.id, :boinc_id => @boinc_id, :colour =>1), :title => @galaxy.label(1).html_safe}
                =render "galaxies/image", {:link => image_boinc_galaxy_url(:id => @galaxy.id, :boinc_id => @boinc_id, :colour =>2), :title => @galaxy.label(2).html_safe}
                =render "galaxies/image", {:link => image_boinc_galaxy_url(:id => @galaxy.id, :boinc_id => @boinc_id, :colour =>3), :title => @galaxy.label(3).html_safe}
                =render "galaxies/image", {:link => image_boinc_galaxy_url(:id => @galaxy.id, :boinc_id => @boinc_id, :colour =>4), :title => @galaxy.label(4).html_safe}
              -else
                =render "galaxies/image", {:link => @galaxy.image_url(1), :title => "i,r,g"}
                =render "galaxies/image", {:link => @galaxy.image_url(2), :title => "r,6, NUV"}
                =render "galaxies/image", {:link => @galaxy.image_url(3), :title => "3.4&micro;m, g, NUV".html_safe}
                =render "galaxies/image", {:link => @galaxy.image_url(4), :title => "22&micro;m, r, NUV".html_safe}

            %p
              The following images show the results of the calculations performed against this galaxy to date.
            %ul.thumbnails
              =render "galaxies/image", {:link => @galaxy.parameter_image_url('mu'), :title => "mu", :hover_text => "Fraction of the total V-band optical depth of the dust seen by young stars contributed by dust in the ambient interstellar medium"}
              =render "galaxies/image", {:link => @galaxy.parameter_image_url('m'), :title => "m", :hover_text => "Effective Stellar Mass"}
              =render "galaxies/image", {:link => @galaxy.parameter_image_url('ldust'), :title => "ldust", :hover_text => "Luminosity absorbed and reradiated by dust"}
              =render "galaxies/image", {:link => @galaxy.parameter_image_url('sfr'), :title => "sfr", :hover_text => "Star Formation Rate"}
            - if @boinc_id
              =link_to "Send Report", send_report_boinc_galaxy_path(@boinc_id,@galaxy.id), :class => "btn btn-tsn", :remote => true, :id => "send_galaxy_report"