- my_meta :title => "Create a new Challenge",
    :description => ""
-content_for(:title_bar) do
  #intro-sml-wrap
    %h1.fontface New Challenge
  -@user_page =  'challenge'
  =render 'layouts/user_nav'

-content_for(:content) do
  #content-wrap
    #alliance-show
      = render :partial => 'shared/under_construction'
      .row-fluid
        .span12.well.well-white
          .well
            %p
              TheSkyNet challenge system is a way to create a short term ( 1 to 31 days) challenge on a
              variety of different theSkyNet stats. Once created invite your friends to determine who will
              reign supreme.

          = simple_form_for(@challenge, :html => {:class => 'form-horizontal' }) do |f|
            .row-fluid
              .span8
                = f.input :name, input_html: {class: 'input-xlarge'}

            .row-fluid
              .span7
                = f.input :desc, input_html: {rows: 5, class: 'input-xlarge'}
              .span5
                .well.well-small
                  %p= "You may use <a href=\"https://help.github.com/articles/github-flavored-markdown\">GitHub Flavored Markdown</a> for formatting.".html_safe
            .row-fluid
              .span7
                = f.input :invite_only
              .span5
                .well.well-small
                  %p= 'If this box is marked, new members will require an invite code to join.'
            .row-fluid
              .span7
                = f.input :start_date, as: :string
                = f.input :end_date, as: :string
              .span5
                .well.well-small
                  %p Times are in UTC
            .control-group
              .controls
                = f.button :submit