<%content_for(:title_bar) do %>
    <div id="intro-sml-wrap">
        <h1 class="fontface"><%= @trophy.title.titlecase %></h1>
    </div>
    <%=  render 'layouts/user_nav' %>
<% end %>

<%content_for(:content) do %>

    <div id="content-wrap">


        <div class="shadowed">
            <div class="inner-boundary">
                <div id="content-inner">
                    <p>
                        <%= image_tag @trophy.image.url %>
                    <p><%= "#{@trophy.desc.html_safe}  (#{@trophy.credits})" %></p>
                    <p>This trophy has been won be <%= @trophy.profiles_trophies.size %> <%= 'user'.pluralize(@trophy.profiles.size) %></p>

                    </p>
                </div>
            </div>
        </div>

    </div>
<% end %>