-content_for(:title_bar) do
  #intro-sml-wrap
    %h1.fontface= @project.name
  #page-nav.navbar.navbar-inverse
    .navbar-inner
      %ul.nav
        %li.active= link_to(@project.name, @project)
        -@pages.each do |page|
          %li= link_to(page.title, page)

-content_for(:content) do
  #content-wrap
    .well.well-white
      %h2= @project.name
      %p= @project.desc.html_safe
    .row-fluid
      .span6.well.well-white
        %h2 Leaders
        - @leaders.each do |profile|
          =render "profiles/profile_card", {:profile => profile}
      .span6.well.well-white
        %h2 Links
        %ul
          - @links.each do |link|
            %li= link_to link.name, link.url

