- my_meta :title => "Science: #{@project.name}",
    :description => "theSkyNet is made of many smaller projects. Each has its own unique science contribution"

-content_for(:title_bar) do
  #intro-sml-wrap
    %h1.fontface= @project.name
  #page-nav.navbar.navbar-inverse
    .navbar-inner
      %ul.nav
        %li= link_to(t(".all_projects"),science_portals_path)
        %li.active= link_to(@project.name, @project)
        -@pages.each do |page|
          %li= link_to(page.title, page)

-content_for(:content) do
  #content-wrap
    .well.well-white
      %p= @project.desc.html_safe
    .row-fluid
      - if !@leaders.empty?
        #leaders.span6.well.well-white
          %h2= t ".leaders"
          - @leaders.each do |profile|
            =render "profiles/profile_card", {:profile => profile}
      - if !@links.empty?
        #links.span6.well.well-white
          %h2= t ".links"
          %ul
            - @links.each do |link|
              %li= link_to link.name, link.url

