.row-fluid
  .span12.box{class: ("active #{active_colour}" if current_day >= day), id: "day#{day}"}
    - if current_day >= day
      -if last_day >= day
        .row-fluid
          .span7.offset5
            %p= msg
        .row-fluid
          .span12
            - if local_assigns[:large].nil?
              = image_tag(image)
            -else
              %a.fancybox{:id => "#fancybox_#{day}", :href=> asset_path(large).html_safe,:rel=>"advent", :title => msg}= image_tag(image, :class=>"media-object")

      -else
        .row-fluid
          .span12
            = link_to params.merge({:update_last_day => day}) do
              = image_tag("http://placehold.it/#{w}x#{h+40}&text=Open%20Now")
              -#= image_tag("http://ima.gs/transparent/none/000000/Open%20now-#{w}x#{h}.png")

    - else
      .row-fluid
        .span12
          = image_tag("http://placehold.it/#{w}x#{h+40}&text=Coming%20Soon")
          -#= image_tag("http://ima.gs/transparent/none/000000/Open%20now-#{w}x#{h}.png")
    .row-fluid
      .span4.no-height
        %h3{class: ('current' if current_day == day)}= day

