<h1>Listing alliances</h1>
<%= form_tag(search_alliances_path, :method => "get") do %>
    <%= label_tag(:search, "Search for:") %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Search") %>
<% end %>
<table>
  <tr>
    <th>Name</th>
    <th>Ranking</th>
    <th>Credit</th>
    <th>Leader</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alliances.each do |alliance| %>
  <tr>
    <td><%= alliance.name %></td>
    <td><%= alliance.ranking %></td>
    <td><%= alliance.credit %></td>
    <td><%= link_to alliance.leader.name, alliance.leader %></td>
    <td><%= link_to 'Show', alliance %></td>
    <% if user_signed_in? && !current_user.profile.alliance_id %>
        <td><%= link_to 'Join', join_alliance_path(alliance) %></td>
    <% end %>

  </tr>
<% end %>
</table>
<%= paginate @alliances %>
<%= page_entries_info @alliances %>

