<h1>Listing alliances</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ranking</th>
    <th>Leader</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alliances.each do |alliance| %>
  <tr>
    <td><%= alliance.name %></td>
    <td><%= alliance.ranking %></td>
    <td><%= link_to alliance.leader.name, alliance.leader %></td>
    <td><%= link_to 'Show', alliance %></td>
    <% if user_signed_in? && !current_user.profile.alliance %>
        <td><%= link_to 'Join', join_alliance_path(alliance) %></td>
    <% end %>

  </tr>
<% end %>
</table>

