<%content_for(:title_bar) do %>
    <div id="intro-sml-wrap">
        <h1 class="fontface">Alliance Leaderboard</h1>
    </div>
    <% @user_page =  'alliance_leaderboard' %>
    <%=  render 'layouts/user_nav' %>
<% end %>

<%content_for(:content) do %>
    <div id="content-wrap">
        <div class="shadowed">
            <div class="inner-boundary">
                <div id="content-inner">

                    <%= form_tag(search_alliances_path, :method => "get", :class => "pull-right") do%>
                        <%= form_get_hidden_tag(search_alliances_path) %>
                        <%= text_field_tag(:search,nil,:class => "search-query", :placeholder => params["search"] ? params["search"] : "Search") %>
                    <% end %>
                    <table id="leaderboard" class="table table-striped">
                        <thead>
                          <tr>
                            <th>Name</th>
                              <th><%= sortable "ranking", "Rank"%></th>
                              <th><%= sortable "credit", "Total Credit" %></th>
                              <th><%= sortable "RAC", "Average Daily Credit" %></th>
                            <th>Leader</th>
                            <% if user_signed_in? && !current_user.profile.alliance_id %>
                                <th></th>
                            <% end %>
                          </tr>
                        </thead>
                        <tbody>
                            <% @alliances.each do |alliance| %>
                              <tr>
                                <td><%= link_to alliance.name.titleize, alliance %></td>
                                <td><%= alliance.ranking %></td>
                                <td><%= number_with_delimiter(alliance.credit) %></td>
                                <td><%= alliance.RAC %></td>
                                <td><%= link_to alliance.leader.name, alliance.leader if alliance.leader != nil%></td>
                                <% if user_signed_in? && !current_user.profile.alliance_id %>
                                    <td><%= link_to 'Join', join_alliance_path(alliance) %></td>
                                <% end %>

                              </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <%=  paginate @alliances %>
                    <%=  page_entries_info @alliances, :entry_name => 'Alliance' %>
                    <%= render 'shared/per_page_selector' %>
                    <div id="tag_cloud">
                        <h2>Tags:</h2>
                        <% tag_cloud @tags, %w[cloud1 cloud2 cloud3 cloud4 cloud5 cloud5 cloud6] do |tag, css_class| %>
                          <%= link_to tag.name, search_alliances_path(:search => tag.name), class: css_class %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>