<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @alliance.name %>
</p>
<p>
  <b>Leader:</b>
  <%= link_to @alliance.leader.name, @alliance.leader %>
</p>

<p>
  <b>Ranking:</b>
  <%= @alliance.ranking %>
</p>
<p>
  <b>Total Members:</b>
  <%= @alliance.members.size %>
</p>
<p>
  <b>Total Credit:</b>
  <%= @alliance.credit %>
</p>

<p>
  <b>Members:</b>
</p>
<table>
  <tr>
    <th>Name</th>
    <th>Credit</th>
    <th>Alliance Rank</th>

  </tr>
  <% rank = 1 %>
  <% @alliance.members.each do |member| %>
      <tr>
        <td><%= link_to member.name, member %></td>
        <td><%= member.general_stats_item.total_credit %></td>
        <td><%= rank %></td>
        <% rank +=1 %>
      </tr>
  <% end %>
</table>

<%= link_to('Manage |', edit_alliance_path(@alliance)) if  (user_signed_in? && current_user.profile.alliance_leader == @alliance) %>
<%= link_to 'Back', alliances_path %>
