-content_for(:title_bar) do
  #intro-sml-wrap
    %h1.fontface= @alliance.name.titleize
  -@user_page =  (user_signed_in? and @alliance.members.include?(current_user.profile)) ? 'my_alliance' : 'alliance_leaderboard'
  =render 'layouts/user_nav'

-content_for(:content) do
  #content-wrap
    #alliance-show
      .row-fluid
        .span5.well.well-white
          %h2= @alliance.name.titleize
          %dl.dl-horizontal
            %dt Total Credit
            %dd= number_with_delimiter(@alliance.credit)
            %dt Rank
            %dd= @alliance.ranking
            %dt Leader
            %dd= @alliance.leader != nil ? link_to(@alliance.leader.name, @alliance.leader) : "-"
            %dt Total Members
            %dd
              =@alliance.members.size
              %abbr{:title=>"including old members"}="(#{@total_members})"
            %dt Founded on
            -date_founded = Time.at(@alliance.created_at)
            %dd= date_founded.strftime("#{date_founded.day.ordinalize} of %B, %Y")
            %dt Tags
            %dd
              %ul.inline
                -@alliance.tags.each do |tag|
                  %li= link_to tag.name, search_alliances_path(:search => tag.name)
        .span7
          -if user_signed_in? && current_user.profile.alliance.try(:id) == @alliance.id
            .row-fluid
              .span12.well.well-white
                %h2 Manage Alliance
                -membership = current_user.profile.alliance_items.where(:leave_date => nil).first
                %dl.dl-horizontal.dl-long
                  %dt You've been a member since
                  -date_joined = Time.at(membership.join_date)
                  %dd= date_joined.strftime("#{date_joined.day.ordinalize} of %B, %Y")
                  %dt Credits you've contributed
                  %dd= number_with_delimiter(membership.leave_credit-membership.start_credit)
                .pull-right
                  =(current_user.profile.alliance_leader) ? link_to('Manage', edit_alliance_path(@alliance), :class => "btn btn-warning") : link_to("Leave", leave_alliances_path,:method => 'get', :confirm => "Are you sure you want to leave? This can't be undone!",:class => "btn btn-danger")
                .pull-left#inviteBox
                  =form_tag(invite_alliance_path, :method => "post", :remote => true, :id => 'invite_form') do
                    =text_field_tag(:email,nil,:class => "search-query", :placeholder => "email")
                    =submit_tag('Invite', :class => "btn btn-success")
          .row-fluid
            .span12.well.well-white
              %h2 Who are we:
              %blockquote.pull-right
                %p= @alliance.desc
                %small= @alliance.leader.name if @alliance.leader != nil
              .clearfix
              -if user_signed_in? && current_user.profile.alliance == nil
                -if @alliance.invite_only?
                  ="#{@alliance.name.titleize} is an invite only alliance. To join you must be invited by an existing member."

                -else
                  ="#{@alliance.name.titleize} is currently accepting members, would you like to join?"
                  %br
                  =link_to "Join #{@alliance.name.titleize}", join_alliance_path, :class => "btn btn-success"



      .row-fluid
        .span12.well.well-white
          %h2 All Members:
          %table.table.table-striped
            %thead
              %tr
                %th Name
                %th Total Credit
                %th Credit Contributed
                %th Member Since
                %th Alliance Rank
                %th Overall Rank
            - rank = (@page-1)*@per_page+1
            %tbody
              -@members.each do |member|
                -if member.profile
                  %tr
                    %td
                      =link_to member.profile do
                        =image_tag member.profile.avatar_url(24)
                        =member.profile.name
                        = "*" if member.leave_date != nil
                    %td= link_to number_with_delimiter(member.credits), member.profile
                    %td= link_to number_with_delimiter(member.credit_contributed), member.profile
                    -date_joined = Time.at(member.join_date)
                    %td= link_to date_joined.strftime("#{date_joined.day.ordinalize} of %B, %Y"), member.profile
                    %td= link_to rank, member.profile
                    %td=link_to  member.rank, member.profile
                -else
                  %tr
                    %td Unknown
                    %td= number_with_delimiter(member.credits)
                    %td= number_with_delimiter(member.credit_contributed)
                    -date_joined = Time.at(member.join_date)
                    %td= date_joined.strftime("#{date_joined.day.ordinalize} of %B, %Y")
                    %td= rank
                    %td -
                -rank +=1
          =paginate @members
          =page_entries_info @members
          %p (*) Members that have left the alliance.
      .row-fluid
        .span12.well.well-white
          #alliance_graph
