<%content_for(:title_bar) do %>
    <div id="intro-sml-wrap">
        <h1 class="fontface"><%= @alliance.name.titleize %></h1>
    </div>
    <% @user_page =  (user_signed_in? and @alliance.members.include?(current_user.profile)) ? 'my_alliance' : 'alliance_leaderboard' %>
    <%=  render 'layouts/user_nav' %>
<% end %>
<%content_for(:content) do %>

    <div id="content-wrap">

        <div class="shadowed">
            <div class="inner-boundary">
                <div id="content-inner">
                    <p>
                      <b>Name:</b>
                      <%= @alliance.name.titleize %>
                    </p>
                    <p>
                      <b>Leader:</b>
                      <%= link_to @alliance.leader.name, @alliance.leader if @alliance.leader != nil%>
                    </p>

                    <p>
                      <b>Ranking:</b>
                      <%= @alliance.ranking %>
                    </p>
                    <p>
                      <b>Total Members:</b>
                      <%= "#{@alliance.members.size} (#{@total_members})" %>
                    </p>
                    <p>
                      <b>Total Credit:</b>
                      <%= number_with_delimiter(@alliance.credit) %>
                    </p>

                    <p>
                      <b>Members:</b>
                    </p>
                    <table>
                      <tr>
                        <th>Name</th>
                        <th>Total Credit</th>
                        <th>Credit Contributed to <%=  @alliance.name.titleize %></th>
                        <th>Alliance Rank</th>
                        <th>Overall Rank</th>

                      </tr>
                      <% rank = 1 %>
                      <% @members.each do |member| %>
                          <tr>
                            <td><%= link_to member.profile.name, member.profile %></td>
                            <td><%= number_with_delimiter(member.credits) %></td>
                            <td><%= number_with_delimiter(member.credit_contributed) %></td>
                            <td><%= rank %></td>
                            <td><%= member.rank %></td>
                            <% rank +=1 %>
                          </tr>
                      <% end %>
                    </table>
                    <%= paginate @members %>
                    <%= page_entries_info @members %>
                    <div id="alliance_graph"></div>
                    <%= link_to('Manage my alliance', edit_alliance_path(@alliance)) if  (user_signed_in? && current_user.profile.alliance_leader == @alliance) %>

                </div>
            </div>
        </div>
    </div>
<% end %>
