- my_meta :title => "theSkyNet Challenges: #{@challenge.name}: Compare",
    :description => "short term challenges run by users of theSkyNet to compete for trophies"
- content_for(:title_bar) do
  #intro-sml-wrap
    %h1.fontface= @challenge.name
  - @user_page =  'challenges'
  = render 'layouts/user_nav'
- content_for(:content) do
  #content-wrap
    = render :partial => 'shared/under_construction'
    .well.well-small
      %h3= format_breadcrumbs({'Challenges' => challenges_path, @challenge.name => challenge_path(@challenge), 'Compare' => ''})
    .row-fluid
      = render 'challenges/challenge_details', challenge: @challenge
    .row-fluid
      .well.well-white
        = render :partial => 'challenges/challengers_table'
    .row-fluid
      .well.well-white
        %h3 Scores
        #graph_score{data: {metrics: score_data(@challengers).to_json}}
    .row-fluid
      .well.well-white
        %h3 Ranks
        #graph_rank{data: {metrics: rank_data(@challengers).to_json}}
