<div id="footer-icrar">
    <a href="http://www.icrar.org" target="_blank">
       <%= image_tag "icrar.jpg", :size => "276x114", :alt => "ICRAR" %>
    </a>
</div>

<div id="footer-social">

    <a class="icon twitter" href="http://twitter.com/#!/_theskynet">Follow us on Twitter</a>
    <br>
    <a class="icon facebook" href="http://www.facebook.com/pages/TheSkyNet/214061585306810">Become a Facebook fan</a>
    <br>


</div>

<div id="footer-map">

    <%= link_to 'Home', root_path %>
    <br />
    <%= link_to 'Sitemap', {:controller => "/pages", :action => "show", :slug => "sitemap"} %>
    <br />
    <%= link_to 'Privacy Statement', {:controller => "/pages", :action => "show", :slug => "privacy"} %>
    <br />
    <%= link_to 'Contact Us', new_contact_form_path %>


</div>
