<div id="footer-icrar">
    <a href="http://www.icrar.org" target="_blank">
       <%= image_tag "icrar.jpg", :size => "276x114", :alt => "ICRAR" %>
    </a>
</div>

<div id="footer-social">

    <a class="icon twitter" href="http://twitter.com/#!/_theskynet"><%= t "social.twitter_follow" %></a>
    <br>
    <a class="icon facebook" href="http://www.facebook.com/pages/TheSkyNet/214061585306810"><%= t "social.FB_fav" %></a>
    <br>


</div>

<div id="footer-map">

    <%= link_to t("nav.home"), root_path %>
    <br />
    <%= link_to t("nav.sitemap"), {:controller => "/pages", :action => "show", :slug => "sitemap"} %>
    <br />
    <%= link_to t("nav.privacy"), {:controller => "/pages", :action => "show", :slug => "privacy"} %>
    <br />
    <%= link_to t("nav.contact"), new_contact_form_path %>


</div>
