<ul id="globalnav" class="nav nav-pills">
  <li><%= link_to "Home", main_app.root_url %></li>
  <li><%= link_to "About", {:controller => "/pages", :action => "show", :slug => "about"} %></li>
  <% if user_signed_in? %>
    <li><%= link_to 'My Dashboard', my_profile_path %></li>
  <% else %>
    <li><%=  link_to "Leaderboards", profiles_path%></li>
  <% end %>
    <li><%= link_to "Contact Us", new_contact_form_path %></li>
</ul>