<ul id="nav">
    <% if user_signed_in? %>
        <li <%=  'class=on' if (@user_page == 'dashboard') %>><%= link_to('Dashboard', my_profile_path)  %></li>
        <li <%=  'class=on' if (@user_page == 'my_trophies') %>><%= link_to('My Trophies', trophies_profile_path(current_user.profile))  %></li>
    <% else %>
        <li><%=  link_to "Sign Up", new_user_registration_path%></li>
    <% end %>

    <li <%=  'class=on' if (@user_page == 'leaderboard') %>><%= link_to('Leaderboards', profiles_path)  %></li>
    <li <%=  'class=on' if (@user_page == 'alliance_leaderboard') %>><%= link_to('Alliances Leaderboards', alliances_path)  %></li>
    <% if  current_user.profile.alliance %>
        <li <%=  'class=on' if (@user_page == 'my_alliance') %>><%= link_to('My Alliances', current_user.profile.alliance)  %></li>
    <% end %>
</ul>