<!DOCTYPE html>
<html>
<head>
  <title>TSNAlpha</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "http://code.shutterstock.com/rickshaw/rickshaw.css" %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.9.1.min.js" %>
  <%= javascript_include_tag "http://www.flotcharts.org/flot/jquery.flot.js" %>
  <%= javascript_include_tag "http://www.flotcharts.org/flot/jquery.flot.time.js" %>
  <%= javascript_include_tag "http://code.shutterstock.com/rickshaw/vendor/d3.v2.js" %>
  <%= javascript_include_tag "http://code.shutterstock.com/rickshaw/rickshaw.js" %>

  <%= javascript_include_tag "application" %>


  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>" <%=  params[:id] ? "data-id=#{params[:id]}" : "" %>>
<div id="container">
<div id="notice"><p><%= notice %></p></div>
<div id="alert"><p><%= alert %></p></div>
<%= render 'devise/menu/devise_top_bar' %>
<%= render 'layouts/nav_bar' %>
<%= yield %>
</div>
</body>
</html>
