<!DOCTYPE html>
<html>
    <head>
      <title>TSNAlpha</title>
        <%= favicon_link_tag('favicon.ico') %>
        <%= stylesheet_link_tag    "application2", :media => "all" %>



      <%= javascript_include_tag "application" %>


      <%= csrf_meta_tags %>
    </head>
    <body data-controller="<%= controller_name %>" data-action="<%= action_name %>" <%=  params[:id] ? "data-id=#{params[:id]}" : "" %>>

    <div id="top-nav" class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <ul class="nav pull-right">
                <%= render 'devise/menu/devise_top_bar' %>
            </ul>
        </div>
    </div>
    <div id="wrapper" class="container">
        <%= bootstrap_flash %>


            <h1 id="header">
                <%= link_to "theSkyNet", main_app.root_url %>
            </h1>
            <%= render 'layouts/nav_global' %>
            <div class="clearing"></div>
            <% if content_for?(:title_home) %>
                <%=  yield(:title_home) %>
                <div id="content" style="background:#ffffff;">
                    <%= content_for?(:content) ? yield(:content) : yield %>
                </div>
            <% else if content_for?(:title_bar) %>
                    <div id="intro-sml">
                        <%=  yield(:title_bar) %>
                    </div>
                <% else %>
                    <div id="intro-sml">
                        <div id="intro-sml-wrap">
                            <p>  </p>
                        </div>
                    </div>
                <% end %>
                <div id="content">
                    <% if content_for?(:content) %>
                        <%= yield(:content) %>
                    <% else %>
                        <div id="content-wrap">
                            <div class="shadowed">
                                <div class="inner-boundary">
                                    <div id="content-inner">
                                        <%= yield %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>

            <div id="footer">
                <%=  render 'layouts/footer' %>
            </div>
        </div>
    </body>
</html>
