!!!
%html
  %head
    =metamagic :title => "theSkyNet", :description => "Want to help astronomers make awesome discoveries and understand our Universe? Then theSkyNet needs you!"
    =favicon_link_tag('favicon.ico')
    =stylesheet_link_tag    "application", :media => "all"
    =javascript_include_tag "application"
    =auto_discovery_link_tag(:atom, news_index_url(format: "atom"), title: "theSkyNet news feed")
    =auto_discovery_link_tag(:atom, comments_url(format: "atom"), title: "theSkyNet Recent Comments")
    =auto_discovery_link_tag(:atom, galaxy_mosaics_url(format: "atom"), title: "theSkyNet Galaxy Mosaics")
    %script{:type=>"text/javascript"}
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";
      I18n.fallbacks = true;
    =csrf_meta_tags
    -my_font_awesome_name = "http:#{Tsn::Application.config.action_controller.asset_host}#{Tsn::Application.config.assets.prefix}/fontawesome-webfont"
    -my_font_append = request.url.gsub('/','_')
    :less
      @font-face {
        font-family: "FontAwesome";
        src: url("#{my_font_awesome_name}.eot?v=3.0.2&#{my_font_append}");
        src: url("#{my_font_awesome_name}.eot?#iefix&v=3.0.2&#{my_font_append}") format("embedded-opentype"), url("#{my_font_awesome_name}.woff?v=3.0.2&#{my_font_append}") format("woff"), url("#{my_font_awesome_name}.ttf?v=3.0.2&#{my_font_append}") format("truetype");
        font-weight: normal;
        font-style: normal;
      }
    - track_options = {}
    - track_options[:local] = Rails.env.development?
    - track_options[:page] = flash[:page] unless flash[:page].nil?
    = analytics_init track_options
    - if  flash[:page] == "/confirmation/success" && !Rails.env.development?
      %script{:type=>"text/javascript"}
        = analytics_track_event "User", "confirmation", "success"

    = render :partial => 'layouts/js_vars'
    %script{:src => "//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-522683943e4f7e56", :type => "text/javascript"}
    / Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent
    :javascript
      window.cookieconsent_options = {
        "message":"This website uses cookies to ensure you get the best experience on our website",
        "dismiss":"Got it!",
        "learnMore":"More info",
        "link":null,
        "theme":""
      };
    / End Cookie Consent plugin

  %body{'data-controller'=> controller_name, 'data-action'=> action_name, 'data-id' => (params[:id] ? params[:id] : ''), 'data-no-turbolink' => true}

    #top-nav.navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        #language-top.pull-right
          %span.navbar-text= render 'layouts/langauge_select'
        .pull-right
          =render 'devise/menu/devise_top_bar'

    -if @special_days.contains_feature('fireworks')
      %canvas#canvasBG_fireworks Error, canvas is not supported
    #wrapper.container
      =bootstrap_flash
      -if @special_days.contains_feature('fireworks')
        .alert.alert-info
          %button{type: "button", class: "close", data: {dismiss: "alert"}} &times;
          %h4 Happy Holidays:
          = link_to "Stop the fireworks", params.merge(fireworks: false), class: 'btn btn-danger'
      -if @special_days.contains_feature('fireworks_link') && !@special_days.contains_feature('fireworks')
        .alert.alert-info
          %button{type: "button", class: "close", data: {dismiss: "alert"}} &times;
          %h4 Happy Holidays:
          My humans have prepared an exciting fireworks show for you, However it is best viewed in a modern web browser like
          = link_to "Chrome.", "http://www.google.com/chrome‎"
          To view the show just click the fire button.
          %br
          = link_to "Fire!", params.merge(fireworks: true), class: 'btn btn-danger'
      =render 'shared/announcement', :announcement => @announcement if @announcement != nil
      %h1#header= link_to "theSkyNet", main_app.root_url, :style => logo_class_style
      =render 'layouts/nav_global'
      .clearing
      #main
        -if content_for?(:title_home)
          = yield(:title_home)
          #content.home= content_for?(:content) ? yield(:content) : yield
        -else
          -if content_for?(:title_bar)
            #intro-sml=  yield(:title_bar)
          -else
            #intro-sml
              #intro-sml-wrap
                %p= ' '
          #content
            -if content_for?(:content)
              =yield(:content)
            -else
              #content-wrap
                .shadowed
                  .inner-boundary
                    #content-inner
                      =yield

        #footer= render 'layouts/footer'