<!DOCTYPE html>
<html>
    <head>
      <title>TSNAlpha</title>

        <%= stylesheet_link_tag    "application", :media => "all" %>



      <%= javascript_include_tag "application" %>


      <%= csrf_meta_tags %>
    </head>
    <body data-controller="<%= controller_name %>" data-action="<%= action_name %>" <%=  params[:id] ? "data-id=#{params[:id]}" : "" %>>
        <div id="login-top-wrap"><%= render 'devise/menu/devise_top_bar' %></div>
        <div class="clearing"></div>
        <% if notice || alert %>
            <div id="notify-wrapper">
                <div id="notice"><p><%= notice %></p></div>
                <div id="alert"><p><%= alert %></p></div>
            </div>
            <div class="clearing"></div>
        <% end %>

        <div id="wrapper">
            <div id="header">
                <%= link_to "theSkyNet", main_app.root_url %>
            </div>
            <%= render 'layouts/nav_global' %>
            <div class="clearing"></div>
            <% if content_for?(:title_home) %>
                <%=  yield(:title_home) %>
                <div id="content" style="background:#ffffff;">
                    <%= content_for?(:content) ? yield(:content) : yield %>
                </div>
            <% else if content_for?(:title_bar) %>
                    <div id="intro-sml">
                        <%=  yield(:title_bar) %>
                    </div>
                <% else %>
                    <div id="intro-sml">
                        <div id="intro-sml-wrap">
                            <p>  </p>
                        </div>
                    </div>
                <% end %>
                <div id="content">
                    <% if content_for?(:content) %>
                        <%= yield(:content) %>
                    <% else %>
                        <div id="content-wrap">
                            <div class="shadowed">
                                <div class="inner-boundary">
                                    <div id="content-inner">
                                        <%= yield %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>


            <div id="footer">
                <%=  render 'layouts/footer' %>
            </div>
        </div>
    </body>
</html>
