<!DOCTYPE html>
<html>
<head>
  <title>TSNAlpha</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>



  <%= javascript_include_tag "application" %>


  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>" <%=  params[:id] ? "data-id=#{params[:id]}" : "" %>>
<div id="container">
<div id="notice"><p><%= notice %></p></div>
<div id="alert"><p><%= alert %></p></div>
<%= render 'devise/menu/devise_top_bar' %>
<%= render 'layouts/nav_bar' %>
<%= yield %>
</div>
</body>
</html>
